.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center
  /* z-index: 1000; */
}

.modal-card {
  background: #0b0b0b;
  color: #fff;
  max-width: 70vw;
  width: 100%;
  overflow: auto;
  max-height: 100vh;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  padding: 25px;
  border-radius: 8px;
  border: 1px solid rgb(49, 60, 76);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  color: inherit;
  font-size: 1.25rem;
  cursor: pointer;
}
