# Node / Vite
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Laravel
backend/app/vendor/
backend/app/node_modules/
backend/app/public/storage
backend/app/.env
backend/app/.env.*
backend/app/storage/

# Mac / Editor
.DS_Store
*.log
.idea/
.vscode/

# Docker
*.pid
*.seed

